.block-item {
    .caption {
        padding-bottom: 50px;
    }

    .columns {
        position: relative;
    }

    .text-right {
        position: absolute;
        left: 35px;
        right: 35px;
        bottom: 20px;
    }
}