main.blog-page {
    .block-item {
        padding: 20px 0 0;

        &.related {
            padding: 0 0 50px;

            h2 {
                text-align: left;
                font-size: rem-calc(28);
            }
        }
    }
}