.info-contact {
    background: #fff;
    background-clip: content-box;
    margin: 0 0 20px;

    .inner {
        padding: 20px;

        &.logo {
            text-align: center;
        }

        p {
            margin: 0 0 10px;
            padding-left: 20px;
            position: relative;

            &:last-child {
                margin: 0;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }

            &:before {
                content: '';
                font-family: 'FontAwesome';
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 3px;
            }

            &.phone:before {
                content: "\f095";
            }

            &.email:before {
                content: "\f003";
            }

            &.fax:before {
                content: "\f02f";
            }

            &.address:before {
                content: "\f041";
            }
        }
    }

    .socials {
        margin: 0 0 20px;

        a {
            color: $black;

            &:hover {
                color: $color-1;
            }
        }
    }
}

main.contact-page {
    padding: 0 0 70px;

    .content-page {
        padding: 30px 0 20px;
    }

    .wp-editor {
        padding: 20px 20px 0;
        background: #fff;
    }
}

.company-line {
    border-bottom: 1px solid #f0f0f0;
    margin: 0 0 20px;

    h2 {
        font-size: rem-calc(25);
        font-weight: 700;
        color: $color-1;
    }
}