.content-page {
    padding: 30px 0 50px;

    h1 {
        font-size: 32px;
        margin-bottom: 10px;
        color: $color-1;
        font-weight: 700;
    }

    .socials {
        text-align: right;
        margin: 0 0 20px;

        a {
            color: $black;

            &:hover {
                color: $color-1;
            }
        }
    }

    // .wp-editor {
    //     background: #fff;
    //     padding: 20px 20px 0;
    // }

    .block-image {
        background: #fff;
        padding: 20px 20px 0;
        margin: 0 0 50px;

        .columns {
            margin: 0 0 20px;
        }
    }
}

.three-image {
    .title {
        color: $color-1;
        font-weight: 700;
        font-size: rem-calc(18);
        padding: 0;
    }

    &__info {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba($color-1,0.9);
        color: #fff;

        .wp-editor {
            background: transparent;
        }
    }

    .columns {
        position: relative;
        margin: 0 0 30px;
        cursor: pointer;

        &:hover {
            .three-image__info {
                display: block;
            }
        }
    }
}