.custom-hover div {
    padding: 10px;
    margin-top: 5px;
}

.custom-hover div:hover, .custom-hover div:hover h3 {
    background: #006400;
    color: white;
}

.wp-editor p, .wp-editor li, .wp-editor a, .wp-editor span, #footer a {font-size: 15px}
.footer__top .wp-editor h3 {    padding-bottom: 5px;}
.footer__top .menu li {margin: 0 0 10px !important; }
.pagination .current { color: #006400}
