@import "helpers/variables";

.wp-editor {
    line-height: 1.7;

    img {
        max-width: 100%;
        height: auto;
    }

    .alignleft {
        margin: 10px 25px 25px 0;
    }

    .alignright {
        margin: 10px 0 25px 25px;
    }

    .aligncenter {
        margin: 0 auto;
        float: none;
        text-align: center;
        display: block;
        clear: both;
        margin-bottom: 25px;
    }

    a {
        color: $color-1;

        &:hover {
            text-decoration: underline;
        }

        &.accordion-title,
        &.btn-tab {
            &:hover {
                text-decoration: none;
            }
        }

        &.btn-tab {
            background: $color-1;
            color: #fff;
            display: inline-block;
            transition: all .3s ease-in-out;
            margin: 0 10px 10px 0;
            padding: 5px 10px;
            border-radius: 4px;

            &:hover {
                background: $color-2;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-1;
        font-weight: 700;

        &:last-child {
            padding-bottom: 30px;
        }
    }

    h1 {
        font-size: 32px;
        padding-bottom: 15px;
    }

    h2 {
        font-size: 26px;
        padding-bottom: 15px;
    }

    h3 {
        font-size: 22px;
        padding-bottom: 15px;
    }

    h4,
    h5,
    h6 {
        font-size: 18px;
        padding-bottom: 15px;
    }

    p {
        padding-bottom: 30px;
        line-height: 1.7;
    }

    .wp-caption-text {
        font-size: 13px;
        background: $color-1;
        color: #fff;
        padding: 5px 15px;
    }

    .wp-caption {
        display: inline-block;
    }

    ol {
        padding-bottom: 30px;

        li {
            list-style: decimal outside none;
            margin-left: 15px;
            padding-left: 5px;
            line-height: 1.7;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul {
        padding-bottom: 30px;

        li {
            list-style: none;
            padding-left: 20px;
            position: relative;
            margin: 0 0 10px;
            line-height: 1.7;

            ul {
                padding: 10px 0 0;
            }

            &:last-child {
                margin: 0;
            }

            &:before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $color-1;
                position: absolute;
                left: 0;
                top: 11px;
                line-height: normal;
            }
        }

        &.accordion {
            li {
                padding-left: 0;
                margin: 0;

                &:before {
                    display: none;
                }
            }
        }
    }

    blockquote {
        font-size: 16px;
        padding: 0 0 30px 50px;
        border: 0;
        position: relative;
        margin: 0;

        *:last-child {
            margin-bottom: 0;
        }

        p {
            color: #3a4659;

            &:last-child {
                padding-bottom: 0;
            }
        }

        &:before {
            content: "\f10d";
            font-family: 'FontAwesome';
            position: absolute;
            left: 0;
            top: -5px;
            color: $color-1;
            font-size: 30px;
        }
    }

    iframe {
        max-width: 100%;
    }

    table {
        margin-bottom: 30px;
        width: 100%;
        border-bottom: 1px solid $color-1;
        max-width: 100%;
        border-collapse: collapse;

        td {
            vertical-align: top;
            padding: 12px 15px;
            border-right: 1px solid $color-1;
            border-top: 1px solid $color-1;

            &:first-child {
                border-left: 1px solid $color-1;
            }
        }

        th,
        thead td {
            background: $color-1;
            vertical-align: top;
            padding: 12px 15px;
            border-left: 1px solid $color-1;
            border-top: 1px solid $color-1;
            border-bottom: 1px solid $color-1;
            font-weight: 400;
            color: #fff;
            text-align: left;

            &:last-child {
                border-right: 1px solid $color-1;
            }
        }
    }

    dl {
        margin-bottom: 30px;
    }

    figure {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .table-scroll {
        overflow: auto;
    }
}