@charset 'utf-8';

@import 'settings';//_setting.scss at current path
@import 'foundation';// foundation.scss at node_modues

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-xy-grid-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
// @include foundation-forms;
// @include foundation-range-input;
 @include foundation-accordion;
 @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
 @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// motion-ui library
// @import 'motion-ui';
// @include motion-ui-transitions;
// @include motion-ui-animations;

// End foundation

@import "vendors/slick"; /* Slick slider */
@import "helpers/*"; /* Variables, functions, mixin */
@import "fonts/*"; /* @font-face */
@import "reset/*"; /* Reset */
@import "components/*"; /* Button, Breadcrumbs, Pagination, Modal,.... */
@import "blocks/*"; /* Header, Footer, Main, Sidebar */
@import "pages/*";
/*@import "flexible/*";*/

@media screen and #{breakpoint(medium)} {
    @import "responsive/screen-medium/*";
}

@media screen and #{breakpoint(large)} {
    @import "responsive/screen-large/*";
}

@media screen and #{breakpoint(xlarge)} {
    @import "responsive/screen-xlarge/*";
}

@media screen and #{breakpoint(xxlarge)} {
    @import "responsive/screen-xxlarge/*";
}

/* Media print */
@media print {
    @import "print/*";
}

@import "editor"; /*WP editor*/
