.block-list
    .row.align-center
        .column.small-12.medium-8
            h2 VÌ SAO BẠN CHỌN AGM GROUP?
            .row
                .columns.small-12.medium-6
                    a(href="#block-1") TOÀN DIỆN/TRỌN GÓI
                .columns.small-12.medium-6
                    a(href="#block-2") TRUNG THỰC - RÕ RÀNG
                .columns.small-12.medium-6
                    a(href="#block-3") LUẬT SƯ IN-HOUSE
                .columns.small-12.medium-6
                    a(href="#block-4") VĂN PHÒNG MELBOURNE - HCM


