.benefit-block
    .row.align-center
        .column.small-12.medium-10
            h2 Benefit
    .benefit-block__content(style="background-image: url('../images/banner1.jpg')") 
        .row.align-center
            .columns.small-12.medium-6.large-3
                span.fa-book.fa
                p 
                    strong Được hưởng đầy đủ quyền lợi của công dân bản xứ bao gồm quyền học tập và y tế hoàn toàn miễn phí
                ul
                    li ● Con cái được học tập hoàn toàn miễn phí từ bậc tiểu học cho đến hết Trung học phổ thông. Mức học phí đại học chỉ bằng 1/3 so với du học sinh, được ưu tiên nhận vào các trường đại học hàng đầu.
                    li ● Cả gia đình được hưởng chế độ chăm sóc sức khỏe hoàn toàn miễn phí
            .columns.small-12.medium-6.large-3
                span.fa-shield.fa
                p 
                    strong Thẻ thường trú nhân cho cả gia đình
                ul
                    li ● Nhà đầu tư và các thành viên trong gia đình có quyền tự do đi lại sinh sống, học tập và làm việc tại Úc.
            .columns.small-12.medium-6.large-3
                span.fa-globe.fa
                p 
                    strong Được quyền bảo lãnh người thân sau một thời gian sinh sống tại Úc
            .columns.small-12.medium-6.large-3
                span.fa-plane.fa
                p 
                    strong Tự do đi lại giữa Úc và New Zealand