.block-item
    .row.align-center
        .column.small-12.medium-10
            h2 Our blogs
            .desc
                p These are the most interesting properties that are listed on our site. All of theme are in Rome region or the area surrounding our capital.
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/partner1.jpg", alt="")
            .caption
                p.title Michael Rutter
                p.intro These are the most interesting properties that are listed on our site.
                p.text-right
                    span.btn-1(href="#") Contact me
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/partner2.jpg", alt="")
            .caption
                p.title Michael Rutter
                p.intro These are the most interesting properties that are listed on our site. All of theme are in Rome region or the area surrounding our capital.
                p.text-right
                    span.btn-1(href="#") Contact me
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/partner3.jpg", alt="")
            .caption
                p.title Michael Rutter
                p.intro These are the most interesting properties that are listed on our site. All of theme are in Rome region or the area surrounding our capital.
                p.text-right
                    span.btn-1(href="#") Contact me