.block-info
    .row
        .columns.small-12.medium-3
            a(href="#")
                img(src="../images/logo_rome.png", alt="")
            a(href="#")
                img(src="../images/register.gif", alt="")
        .columns.small-12.medium-9
            .wp-editor
                h3 SYDNEY HEAD OFFICE
                p Suite 28, Level 1, Liberty Plaza, 256 Chapel Road South, Bankstown NSW 2200 Australia
                h3 HO CHI MINH OFFICE
                p Suite 1702, Level 17, Ruby Tower, 81 – 85 Ham Nghi Street, Nguyen Thai Binh Ward District 1 HCMC Vietnam