.block-item
    .row.align-center
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new1.jpg", alt="")
            .caption
                p.title Why Live in New York
                p.intro  In contrast with New York City’s urban atmosphere, the vast majority of the state is dominated by farms, fore
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new2.jpg", alt="")
            .caption
                p.title Rome Apartments
                p.intro These are the most interesting properties that are listed on our site.
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new3.jpg", alt="")
            .caption
                p.title Buying a Home
                p.intro  There are cracks in the foundation. Nothing structural. Nothing that’s going to threaten the stability of the home,
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new1.jpg", alt="")
            .caption
                p.title Why Live in New York
                p.intro  In contrast with New York City’s urban atmosphere, the vast majority of the state is dominated by farms, fore
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new2.jpg", alt="")
            .caption
                p.title Rome Apartments
                p.intro These are the most interesting properties that are listed on our site.
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new3.jpg", alt="")
            .caption
                p.title Buying a Home
                p.intro  There are cracks in the foundation. Nothing structural. Nothing that’s going to threaten the stability of the home,
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new1.jpg", alt="")
            .caption
                p.title Why Live in New York
                p.intro  In contrast with New York City’s urban atmosphere, the vast majority of the state is dominated by farms, fore
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new2.jpg", alt="")
            .caption
                p.title Rome Apartments
                p.intro These are the most interesting properties that are listed on our site.
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new3.jpg", alt="")
            .caption
                p.title Buying a Home
                p.intro  There are cracks in the foundation. Nothing structural. Nothing that’s going to threaten the stability of the home,
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new1.jpg", alt="")
            .caption
                p.title Why Live in New York
                p.intro  In contrast with New York City’s urban atmosphere, the vast majority of the state is dominated by farms, fore
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new2.jpg", alt="")
            .caption
                p.title Rome Apartments
                p.intro These are the most interesting properties that are listed on our site.
                p.text-right
                    span.btn-1(href="#") Read more
        a(href="#").columns.small-12.medium-4
            figure
                img(src="../images/new3.jpg", alt="")
            .caption
                p.title Buying a Home
                p.intro  There are cracks in the foundation. Nothing structural. Nothing that’s going to threaten the stability of the home,
                p.text-right
                    span.btn-1(href="#") Read more