#breadcrumbs
    span
        span(typeof="v:Breadcrumb") #[a(href="#") Home]
            span.icon
            span #[a(href="#") Breadcrumb item 1]
                span.icon
                span #[a(href="#") Breadcrumb item 2]
                    span.icon
                    span Current page