.wp-editor
    h1 Heading h1
    h2 Heading h2
    h3 Heading h3
    h4 Heading h4
    h5 Heading h5
    h6 Heading h6
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!
        a(href="#")  This is text link
    blockquote
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,
            a(href="#") nostrum vero facilis!
    figure.wp-caption
        img(src="images/login-logo.png", alt="")
        figcaption.wp-caption-text Dit is een foto onderschrift.
    a.sb-btn.btn-primary(href="#") Button 1
    a.sb-btn.btn-primary-outline(href="#") Button 1