.sticky-block
    p.sticky-block__title Hoi, kan ik je helpen?
    .sticky-block__content
        .sticky-block__info
            .sticky-block__person
                img(src="../images/quote1.jpg", alt="")
                p Orrin
            .wp-editor
                p Bij vragen en/of opmerkingen kun je mij tijdens kantoortijden bereiken op 085 40 16 344 of per mail op<br/>
                    a(href="mailto:test@test.com") test@test.com
        .gform_wrapper
            form(action="#")
                .validation_error Message error
                .gform_heading
                    h3.gform_title Title form
                    span.gform_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!
                .gform_body
                    ul.gform_fields
                        li.gfield.gfield_error.gfield_contains_required
                            label.gfield_label Naam
                                span.gfield_required *
                            .ginput_container
                                input(type="text" placeholder="Naam")
                            .validation_message Validate message
                        li.gfield.gfield_contains_required
                            label.gfield_label E-mailadres
                            .ginput_container
                                input(type="text" placeholder="E-mailadres")
                        li.gfield.gfield_error.gfield_contains_required
                            label.gfield_label Area box
                                span.gfield_required *
                            .ginput_container
                                textarea(placeholder="Laat hier je vraag achter en ik kom zo snel mogelijk bij je terug!")
                            .validation_message Validate message
                        li.gfield.gfield_contains_required
                            label.gfield_label Checkbox input
                            .ginput_container.ginput_container_checkbox
                                ul.gfield_checkbox
                                    li
                                        input#checkbox1(type="checkbox" name="checkbox")
                                        label(for="checkbox1") Lorem ipsum &nbsp;
                                            a(href="#") algemene voorwaarden
                .gform_footer
                    input(type="submit" value="submit").gform_button.button

footer#footer
    .footer__top(style="background-image: url('../images/testi_bg1.jpg')")
        .row
            .columns.small-12.medium-3
                ul.menu
                    li
                        a(href="#") About us
                    li
                        a(href="#") I want to improve my family’s Quality of Life
                    li
                        a(href="#") About us
                    li
                        a(href="#") About us
                    li
                        a(href="#") About us
                    li
                        a(href="#") About us
                a(href="#")
                    img(src="../images/register.gif", alt="")
            .columns.small-12.medium-4
                .wp-editor
                    h3 SYDNEY HEAD OFFICE
                    p Suite 28, Level 1, Liberty Plaza, 256 Chapel Road South, Bankstown NSW 2200 Australia
                    h3 HO CHI MINH OFFICE
                    p Suite 1702, Level 17, Ruby Tower, 81 – 85 Ham Nghi Street, Nguyen Thai Binh Ward District 1 HCMC Vietnam
                span.btn-2 Hotline in VN: 1800 2069
            .columns.small-12.medium-5.large-4.large-offset-1
                .gform_wrapper
                    form(action="#")
                        .validation_error Message error
                        .gform_heading
                            h3.gform_title Enquire Online
                            span.gform_description
                        .gform_body
                            ul.gform_fields
                                li.gfield.gfield_error.gfield_contains_required.col-2
                                    label.gfield_label First name
                                        span.gfield_required *
                                    .ginput_container
                                        input(type="text" placeholder="First name")
                                    .validation_message Validate message
                                li.gfield.gfield_contains_required.col-2
                                    label.gfield_label Last name
                                    .ginput_container
                                        input(type="text" placeholder="Last name")
                                li.gfield.gfield_contains_required.col-2
                                    label.gfield_label Email
                                    .ginput_container
                                        input(type="email" placeholder="Email")
                                li.gfield.gfield_contains_required.col-2
                                    label.gfield_label City
                                    .ginput_container
                                        input(type="text" placeholder="City")
                                li.gfield.gfield_contains_required.col-2
                                    label.gfield_label Age
                                    .ginput_container
                                        input(type="text" placeholder="Age")
                                li.gfield.gfield_contains_required.col-2
                                    label.gfield_label Mobile
                                    .ginput_container
                                        input(type="number" placeholder="Mobile")
                                li.gfield.gfield_error.gfield_contains_required
                                    label.gfield_label Selectbox
                                        span.gfield_required *
                                    .ginput_container.ginput_container_select
                                        select
                                            option Option A
                                            option Option B
                                            option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit
                                    .validation_message Validate message
                                li.gfield.gfield_contains_required
                                    label.gfield_label Selectbox
                                    .ginput_container.ginput_container_select
                                        select
                                            option Option A
                                            option Option B
                                            option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit
                                li.gfield.gfield_error.gfield_contains_required
                                    label.gfield_label Area box
                                        span.gfield_required *
                                    .ginput_container
                                        textarea(placeholder="You can send us a message here")
                                    .validation_message Validate message
                        .gform_footer
                            input(type="submit" value="submit").gform_button.button
    .footer__bottom
        .row
            .columns.small-12.medium-9
                p Tien Thinh International Group Pty Ltd | ABN 47614436449 | info@ttimigration.com.au | Hotline in VN: 1800 2069
                p Registered Migration Agent #1677976 |
                    a(href="#")  Migration Agents Code of Conduct
                    |  | All Rights Reserved | Developed by
                    a(href="#")  Flow Group
            .columns.small-12.medium-3
                .socials
                    a.fb(href="#")
                    a.tw(href="#")
                    a.google(href="#")
                    a.linked(href="#")
                    a.youtube(href="#")
                span.scroll-top




