.gform_wrapper
    form(action="#")
        .validation_error Message error
        .gform_heading
            h3.gform_title Title form
            span.gform_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!
        .gform_body
            ul.gform_fields
                li.gfield.gfield_contains_required
                    label.gfield_label Date
                    .ginput_container
                        input#datepicker(type="text")
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Input text
                        span.gfield_required *
                    .ginput_container
                        input(type="text" placeholder="Lorem ipsum dolor")
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Area box
                        span.gfield_required *
                    .ginput_container
                        textarea(placeholder="Lorem ipsum dolor")
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Selectbox
                        span.gfield_required *
                    .ginput_container.ginput_container_select
                        select
                            option Option A
                            option Option B
                            option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Radio input
                        span.gfield_required *
                    .ginput_container.ginput_container_radio
                        ul.gfield_radio
                            li
                                input#radio1(type="radio" name="radio")
                                label(for="radio1") Lorem ipsum
                            li
                                input#radio2(type="radio" name="radio")
                                label(for="radio2") Lorem ipsum
                            li
                                input#radio3(type="radio" name="radio")
                                label(for="radio3") Lorem ipsum
                    .validation_message Validate message
                li.gfield.gfield_error.gfield_contains_required
                    label.gfield_label Checkbox input
                        span.gfield_required *
                    .ginput_container.ginput_container_checkbox
                        ul.gfield_checkbox
                            li
                                input#checkbox1(type="checkbox" name="checkbox")
                                label(for="checkbox1") Lorem ipsum
                            li
                                input#checkbox2(type="checkbox" name="checkbox")
                                label(for="checkbox2") Lorem ipsum
                            li
                                input#checkbox3(type="checkbox" name="checkbox")
                                label(for="checkbox3") Lorem ipsum
                    .validation_message Validate message

    .gform_footer
        input(type="submit" value="submit").gform_button.button
