doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
        link(rel="shortcut icon" href="favicon.ico")
        //Stylesheet
        link(href="../css/screen.min.css", rel="stylesheet")
    - var bodyClass = '';
    block vars
    body
        .off-canvas-wrapper
            div(class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas)
                include header
            div(class="off-canvas-content" data-off-canvas-content)
                span(class="link-panel" data-toggle="offCanvasLeft1")
                    span
                block content
                include footer
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEorlK25R1V0WeC0zwcwyweiFAXII6S8")
        script(src="../js/libs/jQuery.js")
        script(src="../js/infobox.js")
        script(src="../js/main.min.js")
