nav#main-menu
    ul
        li.current-menu-item
            a(href="index.html") Home
        li
            a(href="contact.html") Contact
        li.menu-item-has-children
            a(href="default.html") Default
            span.icon
            ul.sub-menu
                li.menu-item-has-children
                    a(href="#", title="") Dit is een sub menu
                    span.icon
                    ul.sub-menu
                        li
                            a(href="#", title="") Dit is een sub sub menu
                        li
                            a(href="#", title="") Dit is een sub sub menu
                        li
                            a(href="#", title="") Dit is een sub sub menu
                li
                    a(href="#", title="") Dit is een sub menu
                li
                    a(href="#", title="") Dit is een sub menu
                li
                    a(href="#", title="") Dit is een sub menu
        li
            a(href="blog.html") Blog
.header__bottom
    .copyright
        p Amimigration © 2018
    .socials
        a.fb(href="#")
        a.tw(href="#")
        a.google(href="#")
        a.linked(href="#")
        a.youtube(href="#")

