.partner-block(style="background-image: url('../images/297941-alexfas01.jpg')")
    .row.align-center
        .column.medium-10.text-center
            h2 Partner
            ul
                li
                    a(href="#")
                        img(src="../images/partner-logo1.jpg", alt="")
                li
                    a(href="#")
                        img(src="../images/partner-logo2.png", alt="")
                li
                    figure
                        img(src="../images/partner-logo3.png", alt="")
                li
                    a(href="#")
                        img(src="../images/partner-logo4.png", alt="")
            p   
                a.btn-3(href="#") Read more