.progress-block
    .row.align-center
        .column.small-12.medium-10
            h2 Progress
    .progress-block__content(style="background-image: url('../images/uc-25-07-2017-4-1.jpg')")
        .row
            .column
                ul
                    li 
                        h3 01
                        p Chuẩn bị hồ sơ <strong>(1-2 tháng)</strong>
                    li 
                        h3 02
                        p Đăng ký hồ sơ chọn lọc trực tuyến
                    li 
                        h3 03
                        p Nộp hồ sơ xin bảo lãnh ban <strong>(1-2 tháng)</strong>
                    li 
                        h3 04
                        p Nộp hồ sơ đến Bộ Di Trú Úc (chờ 9 đến 16 tháng)
                    li 
                        h3 05
                        p Thực hiện việc mua trái phiếu (đối với diện đầu tư)
                    li 
                        h3 06
                        p Visa được cấp