.quote-block.slider#block-1
    .row
        .column
            .quote-block__inner
                .quote-block__desc We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions. All in all I have no doubt that we would have failed to close without an experienced representative such as the professionals at WP Estate working for us, and we are very grateful for all they did.
                figure
                    img(src="../images/quote1.jpg", alt="")
                .quote-block__name
                    strong Lisa Simpson
                    | , happy client
        .column
            .quote-block__inner
                .quote-block__desc We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
                figure
                    img(src="../images/quote2.jpg", alt="")
                .quote-block__name
                    strong Lisa Simpson
                    | , happy client
.quote-block.slider#block-2
    .row
        .columns
            .row.align-middle.quote-block__inner
                .columns.small-12
                    h2 This is a title
                .columns.small-12.medium-3
                    img(src="../images/img4.jpg", alt="")
                .columns.small-12.medium-9
                    .wp-editor
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
        .columns
            .row.align-middle.quote-block__inner
                .columns.small-12
                    h2 This is a title 1
                .columns.small-12.medium-3
                    img(src="../images/img4.jpg", alt="")
                .columns.small-12.medium-9
                    .wp-editor
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
        .columns
            .row.align-middle.quote-block__inner
                .columns.small-12
                    h2 This is a title 2
                .columns.small-12.medium-3
                    img(src="../images/img4.jpg", alt="")
                .columns.small-12.medium-9
                    .wp-editor
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
.block-item.has-padding#block-3
    .row.align-center
        .column.small-12.medium-10
            h2 Our blogs
            .desc
                p These are the most interesting properties that are listed on our site. All of theme are in Rome region or the area surrounding our capital.
        .column.small-12.slider
            a(href="#").row.align-middle
                .column.small-12.medium-3
                    img(src="../images/img4.jpg", alt="")
                .column.small-12.medium-9
                    .wp-editor
                        h3 We hired the WP
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
            a(href="#").row.align-middle
                .column.small-12.medium-3
                    img(src="../images/img4.jpg", alt="")
                .column.small-12.medium-9
                    .wp-editor
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
            a(href="#").row.align-middle
                .column.small-12.medium-3
                    img(src="../images/img4.jpg", alt="")
                .column.small-12.medium-9
                    .wp-editor
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.
            a(href="#").row.align-middle
                .column.small-12.medium-3
                    img(src="../images/img4.jpg", alt="")
                .column.small-12.medium-9
                    .wp-editor
                        p We hired the WP Estate team as our buyer agent because they are specifically trained in Short Sale & Foreclosure transactions.