.three-column
    .row.align-center
        .column.small-12.medium-10
            h2 Visa + requirement
        .columns.small-12
            .grid-x.grid-margin-x.align-center
                .cell.medium-4(style="background-image: url('../images/dk1.png')")
                    p
                        strong Visa 188A:
                    ul
                        li ● Doanh nghiệp đang sở hữu ở Việt Nam đạt doanh thu tối thiểu 500,000 AUD/ năm hai trong vòng 4 năm trước ngày nộp đơn.
                        li ● Tổng tài sản của vợ và chồng đạt mức 800,000 AUD.
                        li ● Đạt tối thiểu 65 điểm theo thang điểm di trú.
                        li ● Đầu tư tối thiểu 200,000 AUD vào một doanh nghiệp tại Úc.
                .cell.medium-4(style="background-image: url('../images/dk2.png')")
                    p
                        strong Visa 188A:
                    ul
                        li ● Doanh nghiệp đang sở hữu ở Việt Nam đạt doanh thu tối thiểu 500,000 AUD/ năm hai trong vòng 4 năm trước ngày nộp đơn.
                        li ● Tổng tài sản của vợ và chồng đạt mức 800,000 AUD.
                        li ● Đạt tối thiểu 65 điểm theo thang điểm di trú.
                        li ● Đầu tư tối thiểu 200,000 AUD vào một doanh nghiệp tại Úc.
                .cell.medium-4(style="background-image: url('../images/dk3.png')")
                    p
                        strong Visa 188A:
                    ul
                        li ● Doanh nghiệp đang sở hữu ở Việt Nam đạt doanh thu tối thiểu 500,000 AUD/ năm hai trong vòng 4 năm trước ngày nộp đơn.
                        li ● Tổng tài sản của vợ và chồng đạt mức 800,000 AUD.
                        li ● Đạt tối thiểu 65 điểm theo thang điểm di trú.
                        li ● Đầu tư tối thiểu 200,000 AUD vào một doanh nghiệp tại Úc.