.two-column
    .row.align-center
        .column.small-12.medium-10
            h2 Sự khác biệt giữa
        .columns.small-12.medium-6
            p.two-column__title Tiến thịnh international
        .columns.small-12.medium-6
            p.two-column__title Các dịch vụ tư vấn khác
        .row
            .columns.small-12.medium-10
                p.two-column__title_bg Trụ sở
            .columns.small-12.medium-6
                
