extends blocks/layout
block vars
    - var mainClass = 'blog-page';
block title
    title Blog page
block content

    main#main(class=mainClass)
        #banner
            img(src="../images/bg-toi-muon-nang-tam-cuoc-song-1.jpg" alt="")
        .row
            .column
                include blocks/breadcrumb
        .content-page
            .row
                .column
                    h1 Blog overview
            include blocks/blog
            .row
                .column
                    include blocks/paging

