extends blocks/layout
block vars
    - var mainClass = 'blog-page';
block title
    title Blog detail page
block content

    main#main(class=mainClass)
        #banner
            img(src="../images/bg-toi-muon-nang-tam-cuoc-song-1.jpg" alt="")
        .row
            .column
                include blocks/breadcrumb
                .content-page
                    h1 Title of the blog detail page
                    .socials
                        a.fb(href="#")
                        a.tw(href="#")
                        a.google(href="#")
                        a.linked(href="#")
                    .wp-editor
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!
                            a(href="#")  This is text link
                        blockquote
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,
                                a(href="#")  nostrum vero facilis!
                        figure.wp-caption
                            img(src="images/agent2-1-19-525x328.jpg", alt="")
                            figcaption.wp-caption-text Dit is een foto onderschrift.
                        ul
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                        ol
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
        .block-item.related
            .row.align-center
                .column.small-12
                    h2 Related blog
                a(href="#").columns.small-12.medium-4
                    figure
                        img(src="../images/new1.jpg", alt="")
                    .caption
                        p.title Why Live in New York
                        p.intro  In contrast with New York City’s urban atmosphere, the vast majority of the state is dominated by farms, fore
                        p.text-right
                            span.btn-1(href="#") Read more
                a(href="#").columns.small-12.medium-4
                    figure
                        img(src="../images/new2.jpg", alt="")
                    .caption
                        p.title Rome Apartments
                        p.intro These are the most interesting properties that are listed on our site.
                        p.text-right
                            span.btn-1(href="#") Read more
                a(href="#").columns.small-12.medium-4
                    figure
                        img(src="../images/new3.jpg", alt="")
                    .caption
                        p.title Buying a Home
                        p.intro  There are cracks in the foundation. Nothing structural. Nothing that’s going to threaten the stability of the home,
                        p.text-right
                            span.btn-1(href="#") Read more

