extends blocks/layout
block vars
    - var mainClass = 'contact-page';
block title
    title Contact page
block content

    main#main(class=mainClass)
        #googleMap(data-lat="52.0924353" data-lng="5.134511999999972" data-title="company name" data-address="Your Address Added Here" data-icon="../images/sale.png")
        .row
            .column.small-12
                include blocks/breadcrumb
                .content-page
                    h1 Contact
            .info-contact.column.small-12
                .row
                    .columns.small-12.medium-4
                        .inner.logo
                            a(href="#")
                                img(src="../images/logo_rome.png", alt="")
                    .columns.small-12.medium-8
                        .inner
                            .company-line
                                h2 company name
                                .socials
                                    a.fb(href="#")
                                    a.tw(href="#")
                                    a.linked(href="#")
                            .contact-detail
                                p.phone
                                    a(href="tel:8008008000") 800 800 8000
                                p.fax 800 800 8000
                                p.email
                                    a(href="mailto:test@test.com") test@test.com
                                p.address Your Address Added Here
                    .columns.small-12
                        .wp-editor
                            p Whether you’re looking for property for sale in New York area or property for rent, WP Residence makes searching easy. Use our unique geolocation mapping feature to root-out your ideal villa, townhouse or apartment and contact the owners direct. We will help you find your dream house in just a few seconds.
                            p We offer our clients a wealth of knowledge regarding all aspects of purchasing or selling a home. Whether it is helping you search for your dream home, discussing new New York real estate developments, or assisting with the sale of your property, we would love the opportunity to help. Please feel free to contact us with any questions!
            .column.small-12
                .wp-editor
                    .gform_wrapper
                        form(action="#")
                            .validation_error Message error
                            .gform_heading
                                h3.gform_title Title form
                                span.gform_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, suscipit!
                            .gform_body
                                ul.gform_fields
                                    li.gfield.gfield_contains_required.col-3
                                        label.gfield_label Your name
                                        .ginput_container
                                            input(type="text")
                                    li.gfield.gfield_error.gfield_contains_required.col-3
                                        label.gfield_label Your Email
                                            span.gfield_required *
                                        .ginput_container
                                            input(type="email")
                                        .validation_message Validate message
                                    li.gfield.gfield_contains_required.col-3
                                        label.gfield_label Subject
                                        .ginput_container
                                            input(type="text")
                                    li.gfield.gfield_contains_required
                                        label.gfield_label Your Message
                                        .ginput_container
                                            textarea
                            .gform_footer
                                input(type="submit" value="submit").gform_button.button




