extends blocks/layout
block vars
    - var mainClass = 'default-page';
block title
    title Default page
block content

    main#main(class=mainClass)
        #banner
            img(src="../images/banner.jpg" alt="")
        .row
            .column
                include blocks/breadcrumb
                .content-page
                    h1 Title of the default page
                    .socials
                        a.fb(href="#")
                        a.tw(href="#")
                        a.google(href="#")
                        a.linked(href="#")
                    .wp-editor
                        h2 Heading h2
                        h3 Heading h3
                        h4 Heading h4
                        h5 Heading h5
                        h6 Heading h6
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!
                            a(href="#")  This is text link
                        blockquote
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,
                                a(href="#")  nostrum vero facilis!
                        figure.wp-caption
                            img(src="images/agent2-1-19-525x328.jpg", alt="")
                            figcaption.wp-caption-text Dit is een foto onderschrift.
                        ul
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                        ol
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                        table
                            tr
                                th Table Heading
                                th Table Heading
                                th Table Heading
                            tr
                                td Table content
                                td Table content
                                td Table content
                            tr
                                td Table content
                                td Table content
                                td Table content
                        table
                            thead
                                tr
                                    td Table content
                                    td Table content
                                    td Table content
                            tbody
                                tr
                                    td Table content
                                    td Table content
                                    td Table content

