extends blocks/layout
block vars
    - var mainClass = 'home-page';
block title
    title Home page
block content

    main#main(class=mainClass)
        .default-block.bg-white-smoke.text-right.spacing-top-small
            .row
                .columns.medium-6.small-12
                    include blocks/flex-content
                .columns.medium-6.small-12
                    img(src="../images/default-image.png", alt="")
        .default-block.spacing-top.text-left
            .row
                .columns.medium-6.small-12
                    include blocks/flex-content
                .columns.medium-6.small-12
                    img(src="../images/default-image.png", alt="")
        .default-block.bg-gray.spacing-small.text-center
            .row
                .columns.medium-6.medium-order-2.small-12
                    include blocks/wp-editor
                .columns.medium-6.medium-order-1.small-12
                    img(src="../images/default-image.png", alt="")
        .quote-block.has-background.font-light(style="background-image: url(../images/banner-quote.jpg)")
            .row
                .column.small-12
                    p.title Hoe wij helpen anderen hun spaanse dromen waar te maken ...
                    p.desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .quote-block.bg-gray.font-dark.has-icon.txt-shadow
            .row
                .column.small-12
                    p.title Hoe wij helpen anderen hun spaanse dromen waar te maken ...
                    p.desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .column.small-12
                    .action-button
                        a(href="#", title="Lees meer").sb-btn.btn-primary-outline Lees meer
        .default-block.text-left
            .row
                .columns.small-12
                    .wp-editor
                        h2 button 1
                        p test
                        p.btn
                            a.sb-btn.btn-primary(href='http://oncozon.mijnstaging.nl', title='Primary') Primary
                            a.sb-btn.btn-primary-outline(href='http://oncozon.mijnstaging.nl', title='Secondary') Primary outline
                .columns.small-12.list-items
                    ul.grid-x.grid-margin-y.grid-margin-x.small-up-1.medium-up-2.large-up-4
                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog1.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...
                                span.sb-btn.btn-primary Lees artikel

                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog2.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...
                                span.sb-btn.btn-primary Lees artikel
                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog3.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                span.sb-btn.btn-primary Lees artikel
                        li.cell: a(href='#', title='Verkeersongelukken')
                            figure
                                img(src='../images/blog1.jpg', alt='Verkeersongelukken')
                            .blog-list__item-caption
                                p.title Lorem ipsum dolor sit  amet
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...
                                span.sb-btn.btn-primary Lees artikel
