extends blocks/layout
block vars
    - var mainClass = 'default-page';
block title
    title Default page
block content

    main#main(class=mainClass)
        #banner
            img(src="../images/bg-toi-muon-nang-tam-cuoc-song-1.jpg" alt="")
        .row
            .column
                include blocks/breadcrumb
                .content-page
                    h1 Title of the default page
                    .wp-editor
                        include blocks/gravity-form
