extends blocks/layout
block vars
    - var mainClass = 'default-page';
block title
    title Default page
block content

    main#main(class=mainClass)
        #banner
            img(src="../images/bg-toi-muon-nang-tam-cuoc-song-1.jpg" alt="")
        .row
            .column
                include blocks/breadcrumb
                .content-page
                    h1 Title of the page
                    .block-image
                        .row
                            .columns.small-12.medium-4
                                a(href="#")
                                    img(src="../images/img1.jpg", alt="")
                            .columns.small-12.medium-4
                                a(href="#")
                                    img(src="../images/img2.jpg", alt="")
                            .columns.small-12.medium-4
                                a(href="#")
                                    img(src="../images/img3.png", alt="")

