extends blocks/layout
block vars
    - var mainClass = 'default-page';
block title
    title Image text page
block content
     main#main(class=mainClass)
        #banner
            img(src="../images/banner.jpg" alt="")
        .row
            .column
                include blocks/breadcrumb
                .content-page
                    h1 Title of the default page
                    .wp-editor
                        p Visa định cư theo diện Kinh Doanh Đổi Mới & Nhà Đầu Tư (188/888) được chính phủ Úc mở ra nhằm thu hút các doanh nghiệp, nhà đầu tư, doanh nhân nước ngoài có kỹ năng kinh doanh đã được chứng minh, nhạy bén, có vốn để chuyển đến và mở doanh nghiệp kinh doanh tại Úc, chung tay góp phần cho sự đổi mới, khả năng cạnh tranh kinh tế và đà tăng trưởng kinh tế chung của đất nước Australia.
                        .row
                            .columns.small-12.medium-5
                                h2 ĐỐI TƯỢNG PHÙ HỢP:
                                p Thị thực (Visa) này dành cho ai muốn sở hữu và quản lý doanh nghiệp mới hoặc có sẵn, hoặc thực hiện hoạt động đầu tư, tại Úc. Ban đầu, hầu hết doanh nhân và nhà đầu tư sẽ nhập cư vào Úc với thị thực Tạm Trú (visa 188) có thời hạn 4 năm để sinh sống và triển khai các hoạt động kinh doanh/đầu tư.
                                p Trong vòng 4 năm này, người nộp đơn cần phải đáp ứng được những yêu cầu về doanh thu, thời gian cư trú tại Úc cùng những điều kiện khác trước khi tiến hành nộp đơn cho thị thực Thường Trú (visa 888).
                            .columns.small-12.medium-7
                                h2 NHỮNG QUYỀN LỢI CHO NHÀ ĐẦU TƯ:
                                ul.accordion(data-accordion data-allow-all-closed="true")
                                    li(class="accordion-item" data-accordion-item)
                                        a.accordion-title(href="#") Accordion 1
                                        div(class="accordion-content" data-tab-content)
                                            .wp-editor
                                                p Được: tự do đến và sinh sống, mở doanh nghiệp hoặc đầu tư tại Úc trong suốt thời gian Visa 188 cấp.
                                                p Được: mang theo các nhân thân phụ thuộc hợp lệ đến Úc.
                                                p Được hưởng những lợi ích sau đây:
                                    li(class="accordion-item" data-accordion-item)
                                        a.accordion-title(href="#") Accordion 2
                                        div(class="accordion-content" data-tab-content)
                                            .wp-editor
                                                p Được: tự do đến và sinh sống, mở doanh nghiệp hoặc đầu tư tại Úc trong suốt thời gian Visa 188 cấp.
                                                p Được: mang theo các nhân thân phụ thuộc hợp lệ đến Úc.
                                                p Được hưởng những lợi ích sau đây:
                        h3 CÓ 3 DIỆN CHÍNH:
                        .row.three-image
                            .columns.small-12.medium-6.large-4
                                figure
                                    img(src="../images/188-A.png", alt="")
                                p.title 188B  - Nhà Đầu Tư
                                .three-image__info
                                    .wp-editor
                                        p Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..
                                        p Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.
                            .columns.small-12.medium-6.large-4
                                figure
                                    img(src="../images/188-B.png", alt="")
                                p.title 188B  - Nhà Đầu Tư
                                .three-image__info
                                    .wp-editor
                                        p Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..
                                        p Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.
                            .columns.small-12.medium-6.large-4
                                figure
                                    img(src="../images/188-C.png", alt="")
                                p.title 188B  - Nhà Đầu Tư
                                .three-image__info
                                    .wp-editor
                                        p Dành cho người tài ba sẵn sàng đầu tư ít nhất 5 triệu đô-la Úc vào các khoản đầu tư hợp lệ tại Úc..
                                        p Các ứng viên có thể được chính phủ Tiểu bang hoặc Lãnh địa hoặc Austrade đề cử.


