extends blocks/layout
block vars
    - var mainClass = 'home-page';
block title
    title Home page
block content
    #banner-home
        a(href="https://www.youtube.com/embed/vY8lZ3rAVus").banner__item.banner__item_video(style="background-image:url(../images/banner2.jpg)")
        .banner__item(style="background-image:url(../images/banner2.jpg)")
            .row.align-middle.align-right
                .column.small-12.large-6
                    .banner__content
                        .banner__title The title banner h1 3
                        p  Just steps away from QM2 express bus to Manhattan and local buses; only minutes from the LIRR. Walking distance to ...
                        .slider__control
                            button(type="button" class="slick-next") Next
                            button(type="button" class="slick-prev") Previous
        .banner__item(style="background-image:url(../images/banner1.jpg)")
            .row.align-middle.align-right
                .column.small-12.large-6
                    .banner__content
                        .banner__title The title banner h1
                        p  Just steps away from QM2 express bus to Manhattan and local buses; only minutes from the LIRR. Walking distance to ...
                        p.text-right
                            a.read-more(href="#") Read more
                        .slider__control
                            button(type="button" class="slick-next") Next
                            button(type="button" class="slick-prev") Previous
        .banner__item(style="background-image:url(../images/banner2.jpg)")
            .row.align-middle.align-right
                .column.small-12.large-6
                    .banner__content
                        .banner__title The title banner h1 2
                        p.text-right
                            a.read-more(href="#") Read more
                        .slider__control
                            button(type="button" class="slick-next") Next
                            button(type="button" class="slick-prev") Previous
    main#main(class=mainClass)
        include blocks/three-column
        include blocks/block-benefit
        include blocks/progress
        include blocks/partner


