.sb-btn {
    font-size: rem-calc(17);
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    line-height: normal;
    vertical-align: middle;
}

.btn-primary {
    background: #272560;
    color: $white;
    padding: 14px 27px 14px 27px;

    &:hover {
        background: #14133b;
        color: $white;
    }
}

.btn-primary-outline {
    padding: 13px 20px 13px 20px;
    color: #272560;
    border: 1px #272560 solid;

    &:hover {
        background: #14133b;
        color: $white;
        border-color: #14133b;
    }
}