.default-block {
    padding-top: 60px;
    padding-bottom: 60px;

    .columns {
        margin: 0 0 30px;

        &:last-child {
            margin: 0;
        }
    }

    .wp-editor {
        ul,
        p,
        ol {
            &:last-child {
                margin: 0;
            }
        }

        .table-scroll {
            &:last-child {
                table {
                    margin: 0;
                }
            }
        }
    }

    &.spacing-top {
        padding-bottom: 0;
    }

    &.spacing-bottom {
        padding-top: 0;
    }

    &.spacing-none {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.spacing-small {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &.spacing-top-small {
        padding-top: 30px;
        padding-bottom: 0;
    }

    &.spacing-bottom-small {
        padding-bottom: 30px;
        padding-top: 0;
    }

    .list-items {
        padding-top: 30px;
    }
}

.font-light {
    color: #fff;
}

.font-dark {
    color: $black;
}

.text-left {
    text-align: left;

    .sb-btn {
        margin: 10px 10px 0 0;
    }
}

.text-center {
    text-align: center;

    .sb-btn {
        margin: 10px 5px 0;
    }
}

.text-right {
    text-align: right;

    .sb-btn {
        margin: 10px 0 0 10px;
    }
}

.bg-gray {
    background: #f7f7f7;
}

.bg-white-smoke {
    background-color: #eee;
}

.quote-block {
    padding: 100px 0;
    text-align: center;

    p.title {
        font-size: rem-calc(30);
        margin: 0 0 20px;

        &:last-child {
            margin: 0;
        }
    }

    &.has-background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        &:before {
            background: rgba(6, 122, 158, 0.84);
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .column {
            position: relative;
        }
    }

    &.has-icon {
        .column:first-child {
            position: relative;
            padding-left: 40px;
            padding-right: 40px;

            &:before,
            &:after {
                font-family: "Source Sans Pro",sans-serif;
                position: absolute;
                line-height: normal;
                font-size: 80px;
                display: block;
                height: 35px;
            }

            &:before {
                content: "“";
                left: 10px;
                top: -10px;
            }

            &:after {
                content: "”";
                right: 10px;
                bottom: -10px;
            }
        }
    }

    &.txt-shadow {
        p {
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
        }
    }
}

@media screen and #{breakpoint(medium)} {
    .default-block .columns {
        margin: 0;
    }
}