@mixin block-grid($number, $gutter) {
    @include clearfix;
    margin-left: ceil(($gutter / -2)) * 1px;
    margin-right: floor(($gutter / -2)) * 1px;

    > * {
        float: left;
        width: 100 / $number * 1%;
        padding-left: ceil(($gutter / 2)) * 1px;
        padding-right: floor(($gutter / 2)) * 1px;

        &:nth-of-type(n) {
            clear: none;
        }

        &:nth-of-type(#{$number}n+1) {
            clear: both;
        }
    }
}

@mixin block-grid-column($number) {
    > * {
        width: 100 / $number * 1%;

        &:nth-of-type(n) {
            clear: none;
        }

        &:nth-of-type(#{$number}n+1) {
            clear: both;
        }
    }
}

@mixin block-grid-space($gutter) {
    margin-left: ceil(($gutter / -2)) * 1px;
    margin-right: floor(($gutter / -2)) * 1px;

    > * {
        padding-left: ceil(($gutter / 2)) * 1px;
        padding-right: floor(($gutter / 2)) * 1px;
    }
}

