a {
    text-decoration: none;
    outline: none;
    color: inherit;

    &:hover, &:focus, &:active {
        text-decoration: none;
        outline: none;
        color: inherit;
    }
}

li {
    list-style: none;
}

ul,
li,
ol,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol ol,
ol ul,
ul ol,
ul ul,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    outline: none;
    line-height: normal;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

textarea,
input {
    -webkit-appearance: none;
    border-radius: 0;
}