#banner {
    max-height: 290px;
    overflow: hidden;
    margin: 0 0 20px;
}

#googleMap {
    height: 290px;
    margin: 0 0 20px;

    #content {
        background: #fff;
        width: 300px;
        box-shadow: 3px 5px 13px 0 rgba(29,29,29,.05);
        border-bottom: 3px solid #8593a9;
        border-radius: 3px;
        padding: 20px;
        position: relative;

        &:after {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-top-color: #8593a9;
            border-width: 15px;
            left: 50%;
            margin-left: -15px;
        }

        .firstHeading {
            color: $color-1;
            font-weight: 700;
            font-size: rem-calc(20);
        }

        p {
            line-height: 1.7;
        }
    }
}

.gm-style-cc {
    display: none;
}

.banner {
    &__item {
        background-size: cover;
        background-position: center;
        min-height: 450px;

        .row {
            min-height: 450px;
        }

        &_video {
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                background: url('../images/icon-play-video.png') no-repeat center;
            }
        }
    }

    &__content {
        background: #fff;
        padding: 20px 70px 0px 20px;
        position: relative;
        min-height: 280px;

        p {
            line-height: 1.7;
            padding: 0 0 20px;
        }
    }

    &__title {
        color: $color-1;
        font-weight: 700;
        font-size: rem-calc(30);
        padding: 0 0 20px;
    }
}

.slider__control {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: $color-1;
    width: 50px;
    color: #fff;
    text-align: center;

    button {
        font-size: 0;
        color: #fff;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:before {
            content: "";
            font-family: FontAwesome;
            font-size: 50px;
        }

        &.slick-next {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50%;
            width: 50px;

            &:before {
                content: "\f105";
            }
        }

        &.slick-prev {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 50%;
            width: 50px;

            &:before {
                content: "\f104";
            }
        }

        &:hover {
            color: $color-2;
        }
    }
}

#banner-home {
    .slick-arrow {
        &::before {
            font-size: rem-calc(100);
        }
    }
}