.benefit-block {
    padding: 30px 0;

    h2 {
        color: $color-1;
        font-weight: 700;
        font-size: rem-calc(32);
        margin: 0 0 30px;
        padding: 0 0 18px;
        text-align: center;
        position: relative;

        &::before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            background: url('../images/section-border.png') no-repeat;
            height: 3px;
            width: 64px;
            bottom: 0;
        }
    }

    &__content {
        color: #fff;
        padding: 55px 0 25px;
        background-size: cover;
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            content: '';
            background: rgba($color: $color-1, $alpha: .8);
        }
    }

    p,
    li {
        font-size: 14px;
        line-height: 26px;
        padding: 0 0 10px;
        text-align: justify;

        &:last-child {
            padding: 0;
        }
    }

    .columns {
        margin-bottom: 30px;
        z-index: 1;
    }

    .fa {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto 65px;
        border: 2px #fff solid;
        text-align: center;
        line-height: 70px;
        font-size: 40px;
        border-radius: 4px;
    }
}