.block-item {
    padding: 50px 0 0;

    &.has-padding {
        padding-bottom: 50px;
    }

    h2 {
        color: $color-1;
        font-weight: 700;
        font-size: rem-calc(32);
        margin: 0 0 20px;
        text-align: center;
    }

    .desc {
        text-align: center;

        p {
            line-height: 1.7;
            margin: 0 0 20px;
        }
    }

    .columns {
        margin: 0 0 50px;
        background: #fff;
        background-clip: content-box;

        &:hover {
            .btn-1 {
                background: $color-1;
                color: #fff;
            }

            p.title {
                color: $color-2;
            }
        }
    }

    .caption {
        padding: 0 20px 20px;

        &:first-child {
            padding-top: 20px;
        }
    }

    figure {
        margin: 0 0 15px;
        max-height: 230px;
        overflow: hidden;
    }

    p {
        &.title {
            transition: all .3s ease-in-out;
            color: $color-1;
            font-weight: 700;
            margin: 0 0 10px;
            font-size: rem-calc(18);

            &:last-child {
                margin: 0;
            }
        }

        &.intro {
            line-height: 1.7;
            margin: 0 0 30px;
        }

        &.role {
            color: #8593a9;
            margin: 0 0 20px;

            &:last-child {
                margin: 0;
            }
        }
    }

    .slick-initialized .slick-slide {
        display: flex;
    }

    .slider {
        img {
            border-radius: 50%;
        }
    }
}