.block-list {
    padding: 40px 0 25px;

    h2 {
        text-align: center;
        color: $color-1;
        font-weight: 700;
        font-size: rem-calc(32);
        margin: 0 0 20px;
    }

    .columns {
        margin: 0 0 15px;
    }

    a {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        transition: color .3s ease-in-out;

        &::before {
            content: "\f00c";
            font-family: 'FontAwesome';
            position: absolute;
            top: 6px;
            left: 0;
            font-size: 10px;
        }

        &:hover {
            color: $color-1;
        }
    }
}