.footer {
    &__top {
        background-size: cover;
        padding: 50px 0 20px;
        background-color: #f3f3f3;
        color: #fff;

        .menu {
            margin: 0 0 20px;

            li {
                margin: 0 0 15px;
            }

            a {
                transition: all .3s ease-in-out;
                display: block;
                position: relative;
                padding-left: 15px;

                &:before {
                    content: "\f101";
                    font-family: 'FontAwesome';
                    font-size: 12px;
                    position: absolute;
                    left: 0;
                    top: 3px;
                }

                &:hover {
                    color: $color-1;
                }
            }
        }

        .gform_title {
            color: $color-1;
            font-weight: 700;
            margin: 0 0 20px;
            font-size: rem-calc(18);
        }

        .gfield_label {
            display: none;
        }

        .gfield_error {
            .select2-selection {
                border: 1px solid #ff0000;
            }
        }

        textarea {
            height: 100px;
        }

        .gform_footer {
            text-align: right;
        }
    }

    &__bottom {
        background: $color-1;
        color: #fff;
        padding: 30px 0 20px;

        p {
            font-size: 14px;
            line-height: 1.7;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }

        .socials {
            a {
                margin-right: 15px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

#footer {
    .columns {
        margin-bottom: 30px;
    }
}