.header {
    &__logo {
        text-align: center;
        padding: 20px 0 10px;

        a {
            display: inline-block;
            width: 150px;
        }
    }

    &__bottom {
        display: none;
    }
}

.link-panel {
    display: block;
    width: 25px;
    position: fixed;
    left: 10px;
    top: 10px;
    height: 20px;
    cursor: pointer;
    z-index: 10;

    &:before {
        background: $color-1;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        content: '';
        display: inline-block;
        position: absolute;
        left: -50px;
        top: -60px;
    }

    span {
        background: #fff;
        height: 3px;
        width: 25px;
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 8px;

        &:before,
        &:after {
            background: #fff;
            content: '';
            position: absolute;
            width: 25px;
            height: 3px;
            display: inline-block;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        &:before {
            top: -8px;
        }

        &:after {
            bottom: -8px;
        }
    }
}

.position-left.is-transition-push {
    box-shadow: none;
    background: $color-1;
}

.is-open-left {
    .link-panel {
        span {
            background: transparent;

            &:before,
            &:after {
                transform-origin: 50% 50% 0;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, -45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, 45deg);
                top: auto;
                bottom: 0;
            }
        }
    }
}

#main-menu {
    a {
        padding: 10px 0;
        display: block;
        color: #d7cec7;
        transition: all .3s ease-in-out;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .btn-menu {
        margin: 0 0 10px;

        a {
            border: 1px #fff solid;
            padding: 10px 15px;
            display: inline-block;
            border-radius: 4px;
            font-weight: 700;
            color: #fff;

            &:hover {
                background: #fff;
                color: $color-1;
            }
        }
    }

    .sub-menu {
        display: none;
        padding-left: 20px;
        font-size: rem-calc(15);
    }

    .menu-item-has-children {
        >a {
            padding-right: 40px;
        }
    }

    li {
        position: relative;

        &.current-menu-item ,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &.current-page-ancestor,
        &.current-post-ancestor {
            >a {
                color: #fff;
            }

            > .sub-menu {
                display: block;
            }

            &.btn-menu {
                >a {
                    background: #fff;
                    color: $color-1;
                }
            }
        }
    }

    span.icon {
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        color: #fff;

        &:before {
            content: "\f067";
            font-family: 'FontAwesome';
        }

        &.active {
            &:before {
                content: '\f068';
            }
        }
    }
}

body.admin-bar {
    .link-panel {
        top: 56px;
    }
}