/* Layout style */
.socials {
    padding: 10px 0 0;

    a {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        color: #fff;
        transition: all .3s ease-in-out;

        &:last-child {
            margin-right: 0;
        }

        &:before {
            font-family: 'FontAwesome';
            content: '';
        }

        &.fb:before {
            content: "\f09a";
        }

        &.tw:before {
            content: "\f099";
        }

        &.google:before {
            content: "\f0d5";
        }

        &.linked:before {
            content: "\f0e1";
        }

        &.youtube:before {
            content: "\f167";
        }

        &:hover {
            color: $color-2;
        }
    }
}

.off-canvas-wrapper {
    overflow: visible;
}

body.open-menu {
    .off-canvas-wrapper {
        overflow: hidden;
    }
}

.slick-arrow {
    font-size: 0;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;

    &:before {
        content: "";
        font-family: FontAwesome;
        font-size: 50px;
    }

    &.slick-next {
        right: 15px;

        &:before {
            content: "\f105";
        }
    }

    &.slick-prev {
        left: 15px;

        &:before {
            content: "\f104";
        }
    }

    &:hover {
        color: $color-1;
    }
}

.slick-dots {
    text-align: center;
    padding: 20px 0 0;

    li {
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #8593a9;
        display: inline-block;
        margin: 0 5px;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover,
        &.slick-active {
            background: $color-1;
        }
    }
}

.block-info {
    padding: 0 0 50px;

    img {
        margin: 0 0 20px;
    }
}

.wpml-ls-legacy-list-horizontal {
    text-align: center;
}

.icon-loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,.5) url(../images/ajax-loader.gif) no-repeat center;
    background-size: 80px auto;
    z-index: 12;
}

.accordion-title {
    font-size: rem-calc(15);
}

.block_popup {
    display: none;
}