.partner-block {
    background-size: cover;
    padding: 60px 0;
    background-attachment: fixed;

    h2 {
        color: #fff;
        font-weight: 700;
        font-size: rem-calc(32);
        margin: 0 0 30px;
        padding: 0 0 18px;
    }

    li {
        display: inline-block;
        margin: 0 10px 10px;
    }

    ul {
        padding: 0 0 40px;
    }

    img {
        height: 100px;
        width: auto;
    }
}