.progress-block {
    padding: 30px 0 0;
    
    h2 {
        color: $color-1;
        font-weight: 700;
        font-size: rem-calc(32);
        margin: 0 0 30px;
        padding: 0 0 18px;
        text-align: center;
        position: relative;

        &::before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            background: url('../images/section-border.png') no-repeat;
            height: 3px;
            width: 64px;
            bottom: 0;
        }
    }

    &__content {
        background-size: cover;
        padding: 65px 0 45px;
    }

    h3 {
        font-size: rem-calc(30);
        display: inline-block;
        padding: 0 10px 10px;
        border-bottom: 2px solid;
        margin: 20px 0 15px;
    }

    p {
        font-size: 14px;
        line-height: 26px;
    }

    li {
        text-align: center;
        margin: 0 0 20px;
        padding: 10px 15px 20px;

        &:nth-child(odd) {
            background: #d1d2d4;
            color: #000;
        }

        &:nth-child(even) {
            background: $color-1;
            color: #fff;
        }
    }
}