.quote-block {
    background: #fff;
    padding: 50px 0;
    text-align: center;

    h2 {
        color: #006400;
        font-weight: 700;
        font-size: 2rem;
        margin: 0 auto 20px;
        text-align: center;
        max-width: rem-calc(1200);
        padding: 0 20px;
    }

    figure {
        display: inline-block;
        width: 120px;
        margin: 0 0 20px;

        &:last-child {
            margin: 0;
        }
    }

    img {
        border-radius: 50%;
    }

    &__desc {
        line-height: 1.7;
        margin: 0 0 20px;

        &:last-child {
            margin: 0;
        }
    }

    &__inner {
        padding: 0 30px;
        max-width: 800px;
        margin: 0 auto;
    }

    .row .row {
        max-width: 800px;
        margin: 0 auto;
    }
}