.sticky-block {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
    z-index: 10;

    &__title {
        color: #fff;
        padding: 10px 15px;
        cursor: pointer;
        background: url(../images/open-window.svg) calc(100% - 20px) center no-repeat #3f3f3f;

        &.active {
            background-image: url(../images/close-window.svg);
        }
    }

    &__content {
        padding: 20px;
        display: none;
    }

    &__person {
        display: inline-block;
        vertical-align: top;
        width: 74px;
        text-align: center;

        p {
            font-size: 11px;
        }

        img {
            border-radius: 50%;
            margin: 0 0 10px;
        }
    }

    .select2-container {
        width: 100%!important;
    }

    .wp-editor {
        width: calc(100% - 80px);
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        padding-left: 10px;
    }

    .gform_heading,
    .gfield_label {
        display: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        font-size: 12px;
        background: #f2f3f7;
        border: 0;
    }

    .gfield_error {
        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea {
            border: 1px #ff0000 solid;
        }
    }

    textarea {
        height: 100px;
    }

    .gfield_checkbox {
        label {
            font-size: 11px;
            padding-top: 2px;

            a {
                text-decoration: underline;
            }
        }
    }

    .gfield {
        margin: 0 0 10px;
    }

    .gform_footer {
        padding: 10px 0 0;

        .gform_button {
            width: 100%;
            text-align: center;
        }
    }
}