.three-column {
    padding: 30px 0 0px;

    h2 {
        color: $color-1;
        font-weight: 700;
        font-size: rem-calc(32);
        margin: 0 0 30px;
        padding: 0 0 18px;
        text-align: center;
        position: relative;

        &::before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            background: url('../images/section-border.png') no-repeat;
            height: 3px;
            width: 64px;
            bottom: 0;
        }
    }

    .cell {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        color: #fff;
        padding: 60px 30px;
        margin-bottom: 30px;
    }

    p,
    li {
        font-size: 14px;
        line-height: 26px;
        padding: 0 0 10px;
        text-align: justify;

        &:last-child {
            padding: 0;
        }
    }
}