{% block html_head_container %}
    {% include 'header.twig' %}
    {% block head %}
    {% endblock %}
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<div class="off-canvas-wrapper">
    <div class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>
        {% block header %}
            <header id="header">
                <div class="row">
                    <div class="columns">
                        <div class="header__logo"><a href="{{ function('site_url') }}"><img src="{{ header.logo}}"></a></div>
                        {{ function ('do_action', 'wpml_add_language_selector' ) }}
                        <nav id="main-menu">
                            <ul class="nav-main menu">
                                {% for item in menu.items %}
                                    <li class="nav-main-item menu-item {{ item.classes|join(' ') }}">
                                        <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                                        {% if item.children %}
                                            <ul class="sub-menu">
                                                {% for child in item.children %}
                                                {% if child.children %}
                                                    <li class="menu-item-has-children">
                                                {% else %}
                                                    <li class="nav-drop-item">
                                                {% endif %}
                                                        <a href="{{ child.link }}">{{ child.title }}</a>
                                                        {% if child.children %}
                                                        <span class="icon"></span>
                                                        <ul class="sub-menu">
                                                         {% for third in child.children %} 
                                                            <li class="nav-drop-item">
                                                                <a href="{{ third.link }}">{{ third.title }}</a>
                                                            </li>
                                                         {% endfor %}
                                                         </ul>
                                                         {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>                                            
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>                        
                        <div class="header__bottom">
                            <div class="copyright">
                                <p>Amimigration © 2018</p>
                            </div>
                            <div class="socials">
                                {% if footer.facebook %}
                                    <a class="fb" href="{{ footer.facebook }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.twitter %}
                                    <a class="tw" href="{{ footer.twitter }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.google %}
                                    <a class="google" href="{{ footer.google }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.linkedin %}
                                    <a class="linked" href="{{ footer.linkedin }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.youtube %}
                                    <a class="youtube" href="{{ footer.youtube }}" target="_blank"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
    </div>
    <div class="off-canvas-content" data-off-canvas-content><span class="link-panel"
                                                                  data-toggle="offCanvasLeft1"><span></span></span>
        {% block content %} {% endblock %}
        {#{% include 'sticky.twig' %}#}
        {% block footer %}
            <footer id="footer">
                <div class="footer__top" style="background-image: url('{{ TimberImage(footer.background).src }}');">
                    <div class="row">
                        <div class="columns small-12 medium-3">
                           
                            <ul class="menu">
                                {% for item in menu.items %}
                                    <li class="nav-main-item {{ item.classes|join(' ') }}">
                                        <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>      
                                                                          
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="{{ function('site_url') }}"><img src="{{ TimberImage(footer.logo).src|resize(270,255) }}" alt=""></a>
                        </div>
                        <div class="columns small-12 medium-4">
                            <div class="wp-editor">
                                {{ footer.address_1 }}
                                {{ footer.address_2 }}
                            </div>
                            {% if footer.hotline %}
                                <span class="btn-2">{{ footer.hotline }}</span>
                            {% endif %}

                        </div>
                        <div class="columns small-12 medium-5 large-4 large-offset-1">
                            {% filter shortcodes %}
                                [gravityform id="3" title="true" description="false" ajax="true"]
                            {% endfilter %}
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="row">
                        <div class="columns small-12 medium-9">
                           {{ footer.text_bottom }}
                        </div>
                        <div class="columns small-12 medium-3">
                            <div class="socials">
                                {% if footer.facebook %}
                                    <a class="fb" href="{{ footer.facebook }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.twitter %}
                                    <a class="tw" href="{{ footer.twitter }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.google %}
                                    <a class="google" href="{{ footer.google }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.linkedin %}
                                    <a class="linked" href="{{ footer.linkedin }}" target="_blank"></a>
                                {% endif %}
                                {% if footer.youtube %}
                                    <a class="youtube" href="{{ footer.youtube }}" target="_blank"></a>
                                {% endif %}
                            </div>
                            <span class="scroll-top"></span>
                        </div>
                    </div>
                </div>
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </div>
</div>
{% block popup %} {% endblock %}
</body>
</html>
