{% extends "base.twig" %}
{% block content %}
    <main class="blog-page" id="main">
        {% include 'part/banner.twig' %}
        <div class="row">
            <div class="column">
                {% include 'part/breadcrumb.twig' %}
            </div>
        </div>
        <div class="content-page" id="blog-data">
            <div class="row">
                <div class="column">
                    {% if post.post_title %}
                        <h1>{{ post.post_title }}</h1>
                    {% else %}
                        <h1>{{ category.name }}</h1>
                    {% endif  %}
                </div>
            </div>
            <div class="block-item">
                <div class="icon-loading"></div>
                <div class="row align-center ajax-blog" data-category="{{ category.term_id }}" data-page="{{ post.ID }}"></div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="pagination class_paging_blog"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}