{% extends "base.twig" %}
{% block content %}
    <main class="default-page" id="main">
        {% include 'part/banner.twig' %}
        <div class="row">
            <div class="column">
                {% include 'part/breadcrumb.twig' %}
                <div class="content-page">
                    <h1>{{ post.post_title }}</h1>
                    {% include 'part/social.twig' %}
                    <div class="wp-editor">{{ function('do_shortcode', post.post_content|wpautop) }}</div>
                    {% if(post.custom.popup_form) %}
                    <div class="wp-editor" style="text-align:center"><a href="#open_popup" class="btn-tab open_popup">Đăng ký dịch vụ</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block popup %} 
<div class="block_popup wp-editor" id="open_popup">
    {{ function('do_shortcode',post.custom.popup_form) }}
</div>
{% endblock %}

