{% extends "base.twig" %}
{% block content %}
    <main class="default-page" id="main">
        {% include 'part/banner.twig' %}
        <div class="row">
            <div class="column">
                {% include 'part/breadcrumb.twig' %}
                <div class="content-page">
                    <h1>{{ post.post_title }}</h1>
                    {% include 'part/social.twig' %}
                     <div class="wp-editor">{{ function('do_shortcode', post.post_content|wpautop) }}</div>
                    <div class="block-image">
                      <div class="row">
                        {% for item in post.get_field('check_item') %}
                          {% if item.check_item_image %}
                          <div class="columns small-12 medium-4"><a href="{{ item.check_item_link }}"><img src="{{ TimberImage(item.check_item_image)|resize(320, 375) }}" alt=""></a></div>
                          {% endif %}
                        {% endfor %}
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}