{% extends "base.twig" %}
{% block content %}
    <main class="default-page" id="main">
        {% include 'part/banner.twig' %}
        <div class="row">
            <div class="column">
                {% include 'part/breadcrumb.twig' %}
                <div class="content-page">
                    <h1>{{ post.post_title }}</h1>
                    {% include 'part/social.twig' %}
                    {% set i = 1 %}
                    {% for item in post.get_field('service_items') %}
                        <div class="quote-block">
                            <div class="row align-center">
                                <div class="column small-12 medium-10">
                                    {% if item.service_link %}
                                        <h2><a href="{{item.service_link}}">{{ item.service_title }}</a></h2>            
                                    {% else %}
                                        <h2>{{ item.service_title }}</h2>            
                                    {% endif %}
                                </div>
                                {% if i%2 != 0 %}
                                <div class="columns small-12 medium-3">
                                <img src="{{ TimberImage(item.service_image)| resize(450, 450)}}" alt="">
                                </div>
                                {% endif %}
                                <div class="columns small-12 medium-9">
                                    <div class="wp-editor">{{ item.service_text }}</div>
                                </div>
                                {% if i%2 == 0 %}
                                <div class="columns small-12 medium-3">
                                <img src="{{ TimberImage(item.service_image)| resize(450, 450)}}" alt="">
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    {% set i = i + 1 %}
                    {% endfor %}

                    {% if(post.custom.popup_form) %}
                    <div class="wp-editor"><a href="#open_popup" class="btn-tab open_popup">Đăng ký dịch vụ</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block popup %} 
<div class="block_popup wp-editor" id="open_popup">
    {{ function('do_shortcode',post.custom.popup_form) }}
</div>
{% endblock %}