{% extends "base.twig" %}
{% block content %}
    <main class="default-page" id="main">
        {% include 'part/banner.twig' %}
        <div class="row">
            <div class="column">
                {% include 'part/breadcrumb.twig' %}
                <div class="content-page">
                    <div class="content-page">
                <h1>{{ post.post_title }}</h1>
                <div class="wp-editor">
                   {{ post.post_content|wpautop }}
                  <div class="row">
                  {% if post.custom.content_left_title or post.custom.content_left_description %}
                    {% if post.custom.content_right_title %}
                    <div class="columns small-12 medium-5">
                    {% else %}
                    <div class="columns small-12 medium-15">
                    {% endif %}
                        {% if post.custom.content_left_title %}
                            <h2>{{post.custom.content_left_title}}</h2>
                        {% endif %}
                      {{post.custom.content_left_description|wpautop}}
                    </div>
                {% endif %}
                    <div class="columns small-12 medium-7">
                      {% if post.custom.content_right_title %}
                        <h2>{{ post.custom.content_right_title}}</h2>
                    {% endif %}
                      {{post.custom.content_right_description|wpautop}}
                      <ul class="accordion" data-accordion data-allow-all-closed="true">
                        {% for item in post.get_field('content_right_list_item')%}
                            {% if item.item_titleitle and  item.imte_text %}
                                <li class="accordion-item" data-accordion-item>
                                <a class="accordion-title" href="#">{{item.item_titleitle}}</a>
                                <div class="accordion-content" data-tab-content>
                                    <div class="wp-editor">
                                    {{item.imte_text}}
                                    </div>
                                </div>
                                </li>                       
                            {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  {% if post.custom.three_title %}
                    <h3>{{post.custom.three_title}}</h3>
                {% endif %}
                  <div class="row three-image">
                  {% for block_item in post.get_field('three_items') %}
                    <div class="columns small-12 medium-6 large-4">
                      <figure><img src="{{ TimberImage(block_item.three_item_image) }}" alt="">
                      </figure>
                      {% if block_item.three_item_title %}
                        <p class="title">{{ block_item.three_item_title }}</p>
                        {% endif %}
                      {% if block_item.three_item_text %}
                      <div class="three-image__info">
                        <div class="wp-editor">
                          {{ block_item.three_item_text }}
                        </div>
                      </div>
                      {% endif %}
                    </div>
                   {% endfor %}
                  </div>
                </div>
              </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}