{% extends "base.twig" %}
{% block content %}
    {% include 'part/home-slider.twig' %}
    <main class="home-page" id="main">
        {% include 'part/home-why.twig' %}
        
        {% include 'part/home-partner.twig' %}
 
        
    </main>
{% endblock %}