{% extends "base.twig" %}
{% block content %}
    {% include 'part/home-slider2.twig' %}
    <main class="home-page" id="main">
        {% include 'part/home-visa.twig' %}
        {% include 'part/home-benefit.twig' %}
        {% include 'part/home-progress.twig' %}
        {% include 'part/home-partner2.twig' %}
    </main>
{% endblock %}