{% extends "base.twig" %}
{% block content %}
    <main class="contact-page" id="main">
        <div id="googleMap" data-lat="10.7846362" data-lng="106.6971973" data-title="{{ post.custom.contact_title }}" data-address="{{ post.custom.contact_address }}" data-icon="{{ theme_folder }}/sale.png"></div>
        <div class="row">
            <div class="column small-12">               
                <div class="content-page">
                    <h1>{{ post.post_title }}</h1>
                </div>
            </div>
            <div class="info-contact column small-12">
                <div class="row">
                    <div class="columns small-12 medium-4">
                        <div class="inner logo"><a href="{{ function('site_url') }}"><img style="width:50%" src="{{ TimberImage(post.custom.contact_logo).src }}" alt=""></a></div>
                    </div>
                    <div class="columns small-12 medium-8">
                        <div class="inner">
                            <div class="company-line">
                                <h2>{{ post.custom.contact_title }}</h2>
                                {% include 'part/social.twig' %}
                            </div>
                            <div class="contact-detail">
                                {% if post.custom.contact_phone %}
                                    <p class="phone"><a href="tel:{{ post.custom.contact_phone }}">{{ post.custom.contact_phone }}</a></p>
                                {% endif %}
                                {% if post.custom.contact_fax %}
                                    <p class="fax">{{ post.custom.contact_fax }}</p>
                                    {% endif %}
                                {% if post.custom.contact_email %}
                                    <p class="email"><a href="mailto:{{ post.custom.contact_email }}">{{ post.custom.contact_email }}</a></p>
                                {% endif %}
                                {% if post.custom.contact_address %}
                                    <p class="address">{{ post.custom.contact_address }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="columns small-12">
                        <div class="wp-editor">
                            {{ post.post_content|wpautop }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column small-12">
                <div class="wp-editor">
                    {% filter shortcodes %}
                        [gravityform id="1" title="true" description="false" ajax="true"]
                    {% endfilter %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}