{% extends "base.twig" %}
{% block content %}
    <main class="default-page" id="main">
        {% include 'part/banner.twig' %}
        <div class="row">
            <div class="column">
                {% include 'part/breadcrumb.twig' %}
                <div class="content-page">
                    <h1>{{ post.post_title }}</h1>
                    {% include 'part/social.twig' %}
                    <div class="wp-editor">
                        {% if post.post_excerpt %}
                            <h2>{{ post.post_excerpt }}</h2>
                        {% endif %}
                        {{ post.post_content|wpautop }}</div>
                </div>
            </div>
        </div>
        {% include 'part/related-post.twig' %}
    </main>
{% endblock %}