<div class="sticky-block">
        {% if sticky.title %}
          <p class="sticky-block__title">{{ sticky.title }}</p>
        {% endif %}
          <div class="sticky-block__content">
            <div class="sticky-block__info">
              <div class="sticky-block__person"><img src="{{ TimberImage(sticky.image).src|resize(120,120) }}" alt="{{ sticky.title }}">

              </div>
                {% if sticky.description %}
              <div class="wp-editor">
                {{ sticky.description }}
              </div>
                {%  endif %}
            </div>
            {% filter shortcodes %}
              [gravityform id="2" title="true" description="false" ajax="true"]
            {% endfilter %}
          </div>
        </div>