/* Fontface */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ElegantIcons";
    src: url("../fonts/ElegantIcons.eot");
    src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ElegantIcons.woff") format("woff"),
    url("../fonts/ElegantIcons.ttf") format("truetype"),
    url("../fonts/ElegantIcons.svg#ElegantIcons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$awsome: (
    fa-facebook: "\f09a",
    fa-pinterest-p: "\f231",
    fa-twitter : "\f099",
    fa-chevron-left: "\f053",
    fa-chevron-right: "\f054",
    fa-chevron-up: "\f077",
    fa-chevron-down: "\f078",
    fa-plus: "\f067",
    fa-linkedin: "\f0e1",
    fa-google-plus: "\f0d5",
    fa-book: "\f02d",
    fa-shield: "\f132",
    fa-globe: "\f0ac",
    fa-plane: "\f072",
);

.fa-facebook:before {
    content: map-get($awsome, fa-facebook);
}

.fa-plane:before {
    content: map-get($awsome, fa-plane);
}

.fa-globe:before {
    content: map-get($awsome, fa-globe);
}

.fa-shield:before {
    content: map-get($awsome, fa-shield);
}

.fa-book:before {
    content: map-get($awsome, fa-book);
}

.fa-pinterest-p:before {
    content: map-get($awsome, fa-pinterest-p);
}

.fa-twitter:before {
    content: map-get($awsome, fa-twitter);
}

.fa-chevron-left:before {
    content: map-get($awsome, fa-chevron-left);
}

.fa-chevron-right:before {
    content: map-get($awsome, fa-chevron-right);
}

.fa-chevron-up:before {
    content: map-get($awsome, fa-chevron-up);
}

.fa-chevron-down:before {
    content: map-get($awsome, fa-chevron-down);
}

.fa-plus:before {
    content: map-get($awsome, fa-plus);
}

.fa-linkedin:before {
    content: map-get($awsome, fa-linkedin);
}

.fa-google-plus:before {
    content: map-get($awsome, fa-google-plus);
}