#wrapper,
#banner-home,
.off-canvas-content,
.off-canvas-wrapper,
body,
html,
.slick-list,
.slick-track,
.banner__item .row {
    height: 100%;
    min-height: 100%;
}

.banner {
    &__title {
        font-size: rem-calc(40);
    }

    &__content {
        p {
            font-size: rem-calc(20);

            .read-more {
                font-size: rem-calc(16);
            }
        }
    }
}