.company-line {
    overflow: hidden;

    h2 {
        float: left;
    }

    .socials {
        float: right;
    }
}

main.contact-page {
    .col-3 {
        display: inline-block;
        vertical-align: top;
        width: calc(100%/3 - 3px);
    }

    .gfield {
        padding: 0 8px;
    }

    .gform_fields {
        margin: 0 -8px;
    }
}