.gform_wrapper {
    .gfield {
        padding: 0 10px;
    }

    .gform_fields {
        margin: 0 -10px;
    }

    .col-2 {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 3px);
    }
}

.wp-editor {
    .gform_wrapper {
        .gfield {
            padding: 0 10px;
        }
    }
}