.progress-block {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        flex: 1;
        padding: 10px 20px 20px;

        +li {
            position: relative;
            
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                border-style: solid;
                border-width: 20px 0px 20px 15px;
            }
        }

        &:nth-child(odd) {
            &::after {
                border-color: transparent transparent transparent $color-1;
            }
        }

        &:nth-child(even) {
            &::after {
                border-color: transparent transparent transparent #d1d2d4;
            }
        }
    }
}