{% if post.custom.banner_image %}
    {% set bg = TimberImage(post.custom.banner_image) %}
{% else %}
    {% set bg = TimberImage(options.banner) %}
{% endif %}
<div id="banner"><img src="{{ bg.src|resize(1920, 290) }}" alt=""></div>