{% if post.custom.text_image_text %}
<div class="quote-block" id="block-1">
    <div class="row align-center">
        <div class="column small-12 medium-10">
            {% if post.custom.text_image_title %}
                <h2>{{ post.custom.text_image_title }}</h2>
            {% endif %}

        </div>
        {% if post.custom.text_image_image %}
        <div class="columns small-12 medium-3">
           <img src="{{ TimberImage(post.custom.text_image_image).src|resize(270,255) }}" alt="">
        </div>
        {% endif %}
        <div class="columns small-12 medium-9">
            <div class="wp-editor">
              {{ post.custom.text_image_text|wpautop }}
            </div>
        </div>
    </div>
</div>
{% endif %}