{% if post.custom.why_items %}
<div class="block-list">
    <div class="row align-center">
        <div class="column small-12 medium-8">
        {% if post.custom.why_title %}
            <h2>{{ post.custom.why_title }}</h2>
        {% endif %}
        <div class="row">
            <div class="column" small-12>
                <img src="http://agmgroup.com.vn/wp-content/uploads/2018/10/Sukhacbiet.jpg" alt="Su khac biet AGM Group">
            </div
        </div>
        <div class="row" style="display:none">
        {% set count = 1 %}
        {% for item in post.get_field('why_items') %}
            <div class="columns small-12 medium-6"><a href="#block-{{ count }}">{{ item.item }}</a></div>
            {% set count = count + 1 %}
        {% endfor %}          
        </div>
        </div>
    </div>
</div>
{% endif %}