<div class="quote-block" id="block-3">
    {% if post.custom.quote_img or post.custom.text_title %}
        <div class="row">
            {% if post.custom.text_title %}
            <div class="columns small-12">
                <h2>{{ post.custom.text_title }}</h2>
            </div>
            {% endif %}
             <div class="columns">
                <img src="{{ TimberImage(post.custom.quote_img).src|resize(900,225) }}" alt="">
             </div>
        </div>
    {% else %}
    <div class="row">
        {% for item in post.get_field('text_items') %}
        {% if item.text %}
            <div class="columns">
                <div class="row align-middle quote-block__inner">
                    {% if item.name %}
                    <div class="columns small-12">
                        <h2>{{ item.name }}</h2>
                    </div>
                    {% endif %}
                    {% if item.text_image %}
                    <div class="columns small-12 medium-3">
                        <img src="{{ TimberImage(item.text_image).src|resize(155,144) }}" alt="">
                    </div>
                    {% endif %}
                    {% if item.text %}
                    <div class="columns small-12 medium-9">
                        <div class="wp-editor">
                            <p>{{ item.text }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>