{% if post.custom.information_text %}
<div class="block-info">
    <div class="row">
        <div class="columns small-12 medium-3">
           <img src="{{ TimberImage(post.custom.information_image).src|resize(270,255) }}" alt="">
        </div>
        <div class="columns small-12 medium-9">
            <div class="wp-editor">
              {{ post.custom.information_text|wpautop }}
            </div>
        </div>
    </div>
</div>
{% endif %}