<div class="three-column">
<div class="row align-center">
    <div class="column small-12 medium-10">
    {% if post.custom.visa_title %}
        <h2>{{ post.custom.visa_title }}</h2>
    {% endif %}
    </div>
    <div class="columns small-12">
    <div class="grid-x grid-margin-x align-center">
        {% if post.custom.visa_item_group_visa_item_group_1_visa_item_content_1 %}
            <div class="cell medium-6 xlarge-3" style="background-image: url('{{TimberImage(post.custom.visa_item_group_visa_item_group_1_visa_item_background_1).src}}');">
                {{ post.custom.visa_item_group_visa_item_group_1_visa_item_content_1 }}
                {% if post.custom.visa_item_group_visa_item_group_1_visa_item_link_1 %}
                    <br> <a href="{{post.custom.visa_item_group_visa_item_group_1_visa_item_link_1}}">{{__('Xem thêm')}}-></a>
                {% endif %}
            </div>
        {% endif %}

        {% if post.custom.visa_item_group_visa_item_group_2_visa_item_content_2 %}
            <div class="cell medium-6 xlarge-3" style="background-image: url('{{TimberImage(post.custom.visa_item_group_visa_item_group_2_visa_item_background_2).src}}');">
                {{ post.custom.visa_item_group_visa_item_group_2_visa_item_content_2 }}
                {% if post.custom.visa_item_group_visa_item_group_2_visa_item_link_2 %}
                    <br> <a href="{{post.custom.visa_item_group_visa_item_group_2_visa_item_link_2}}">{{__('Xem thêm')}}-></a>
                {% endif %}
            </div>
        {% endif %}

        {% if post.custom._visa_item_group_visa_item_group_3_visa_item_content_3 %}
            <div class="cell medium-6 xlarge-3" style="background-image: url('{{TimberImage(post.custom.visa_item_group_visa_item_group_3_visa_item_background_3).src}}');">
                {{ post.custom.visa_item_group_visa_item_group_3_visa_item_content_3 }}
                {% if post.custom.visa_item_group_visa_item_group_3_visa_item_link_3 %}
                   <br> <a href="{{post.custom.visa_item_group_visa_item_group_3_visa_item_link_3}}">{{__('Xem thêm')}}-></a>
                {% endif %}
            </div>
        {% endif %}

        {% if post.custom._visa_item_group_visa_item_group_4_visa_item_content_4 %}
            <div class="cell medium-6 xlarge-3" style="background-image: url('{{TimberImage(post.custom.visa_item_group_visa_item_group_4_visa_item_background_4).src}}');">
                {{ post.custom.visa_item_group_visa_item_group_4_visa_item_content_4 }}
                {% if post.custom.visa_item_group_visa_item_group_4_visa_item_link_4 %}
                   <br> <a href="{{post.custom.visa_item_group_visa_item_group_4_visa_item_link_4}}">{{__('Xem thêm')}}-></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    </div>
</div>
</div>