<div class="block-item has-padding" id="block-2">
    <div class="row align-center">
        <div class="column small-12 medium-10">
            {% if post.custom.partner_title %}
                <h2>{{ post.custom.partner_title }}</h2>
            {% endif %}
            {% if post.custom.partner_description %}
                <div class="desc">
                    <p>{{ post.custom.partner_description }}</p>
                </div>
            {% endif %}
        </div>
        <div class="column small-12 slider">
            {% for item in post.get_field('partner_columns') %}
            {% if item %}
            <a class="row align-middle" href="{{ item.partner_link }}" target="_blank">
               {% if item.partner_image %}
                <div class="column small-12 medium-3"><img src="{{ TimberImage(item.partner_image) }}" alt="{{ item.partner_name }}"></div>
                {% endif %}
                <div class="column small-12 medium-9">
                    <div class="wp-editor">
                        {% if item.partner_name %}
                        <h3>{{ item.partner_name }}</h3>
                        {% endif %}
                        <p>{{ item.partner_description }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
    </div>
</div>