<div class="partner-block" style="background-image: url('{{ TimberImage(post.custom.partner_background) }}');">
    <div class="row align-center">
        <div class="column medium-10 text-center">
        {% if post.custom.partner_custom_title %}
            <h2>{{ post.custom.partner_custom_title }}</h2>
        {% endif %}
        <ul>
         {% for item in post.get_field('partner_logo') %}
            {% if item.logo_image %}
                <li><a href="{{item.logo_link}}" target="_blank" title="{{item.logo_name}}"><img src="{{ TimberImage(item.logo_image) }}" alt="{{item.logo_name}}"></a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if post.custom.partner_button_text and post.custom.partner_button_link %}
            <p><a class="btn-3" href="{{ post.custom.partner_button_link }}">{{ post.custom.partner_button_text }}</a></p>
        {% endif %}
        </div>
    </div>
</div>