<div class="block-item" id="block-4">
    <div class="row align-center">
        <div class="column small-12 medium-10">
            {% if post.custom.our_block_title %}
                <h2>{{ post.custom.our_block_title }}</h2>
            {% endif %}
            {% if post.custom.our_block_description %}
                <div class="desc">
                    <p>{{ post.custom.our_block_description }}</p>
                </div>
            {% endif %}
        </div>
        {% for item in post.get_field('our_item') %}
            {% if item.our_title %}
        <a class="columns small-12 medium-4" href="{{ item.our_button_link }}">
            <div class="caption our_block">
                {% if item.our_title %}
                    <p class="title">{{ item.our_title }}</p>
                {% endif %}
                {% if item.our_description %}
                    <p class="intro">{{ item.our_description }}</p>
                {% endif %}
                {% if item.our_button_text %}
                    <p class="text-right"><span class="btn-1">{{ item.our_button_text }}</span></p>
                {% endif %}
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>