<div class="progress-block">
    {% if post.custom.progress_title %}
        <div class="row align-center">
            <div class="column small-12 medium-10">
                <h2>{{ post.custom.progress_title }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="progress-block__content" style="background-image: url('{{TimberImage(post.custom.progress_background).src}}');">
        <div class="row">
            <div class="column"> 
            <ul>
            {% for item in post.get_field('progress_items') %}               
                    {% if item.content %}
                    <li> 
                        {% if item.number %}
                            <h3>{{ item.number }}</h3>
                        {% endif %}
                        {% if item.content %}
                            <p>{{ item.content }}</p>
                        {% endif %}
                    </li>
                    {% endif %}
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>