<div id="banner-home">
    {% for item in post.get_field('slider_image') %}
    {% if item.video %}
        <a class="banner__item banner__item_video" href="{{ item.video }}" style="background-image:url({{TimberImage(item.item).src}});"></a>
    {% else %}
    <div class="banner__item" style="background-image:url({{TimberImage(item.item).src}});">
        {% if item.title or item.text %}
        <div class="row align-middle align-right">
            <div class="column small-12 large-6">
                <div class="banner__content">
                    {% if item.title %}<div class="banner__title">{{ item.title }}</div>{% endif %}
                    {% if item.text %}<p>{{ item.text }}</p>{% endif %}
                    {% if item.link %}
                    <p class="text-right"><a class="read-more" href="{{ item.link }}">{{ __('Read more', 'ami') }}</a></p>
                    {% endif %}

                    <div class="slider__control">
                        <button class="slick-next" type="button">{{ __('Next', 'ami') }}</button>
                        <button class="slick-prev" type="button">{{ __('Previous', 'ami') }}</button>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>