<div class="benefit-block">
    {% if post.custom.benefit_title %}
        <div class="row align-center">
            <div class="column small-12 medium-10">
                <h2>{{ post.custom.benefit_title }}</h2>
            </div>
        </div>
    {% endif %}
<div class="benefit-block__content" style="background-image: url('{{ TimberImage(post.custom.bebefit_item_background).src }}');"> 
    <div class="row align-center">
    {% for item in post.get_field('benefit_items') %}
        {% if item.content %}
            <div class="columns small-12 medium-6 large-3">
                {% if item.icon %}
                    <span class="{{ item.icon }} fa"></span>
                {% endif %}
                {{ item.content }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
</div>