{% if related %}
<div class="block-item related">
    <div class="row align-center">
        <div class="column small-12">
            <h2>{{ __('Related blog', 'ami') }}</h2>
        </div>
        {% for item in related %}
        <a class="columns small-12 medium-4" href="{{ function('get_permalink',item.ID) }}">
            <figure><img src="{{ TimberImage(item.thumbnail.src|resize(525, 328)) }}" alt="{{ item.title }}"></figure>
            <div class="caption">
                <p class="title">{{ item.post_title }}</p>
                <p class="intro">{{post.post_content|excerpt(20)}}</p>
                <p class="text-right"><span class="btn-1" href="{{ function('get_permalink',item.ID) }}">{{ __('Read more', 'ami') }}</span></p>
            </div>
        </a>
        {% endfor %}


    </div>
</div>

{% endif %}
