
<div class="socials">
    <a class="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}" target="_blank"></a>
    <a class="tw" href="https://twitter.com/home?status={{ post.link }}" target="_blank"></a>
    <a class="google" href="https://plus.google.com/share?url={{ post.link }}" target="_blank"></a>
    <a class="linked" href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}" target="_blank"></a>
</div>