/* Breadcrumb style */
#breadcrumbs {
    font-size: 12px;

    a {
        color: #8593a9;
        transition: all .3s ease-in-out;

        &:hover {
            color: $color-1;
        }
    }

    .icon {
        &:before {
            font-family: FontAwesome;
            padding: 0 5px;
            color: #ccc;
            content: "\f105";
            display: inline-block;
        }
    }
}