.read-more {
    position: relative;
    padding-right: 20px;
    transition: all .3s ease-in-out;
    display: inline-block;

    &:after {
        content: "\f105";
        font-family: FontAwesome;
        position: absolute;
        right: 0;
        top: 1px;
    }

    &:hover {
        color: $color-1;
    }
}

.btn-1 {
    border: 1px solid $color-1;
    color: $color-1;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    display: inline-block;
    text-align: center;

    &:hover {
        background: $color-1;
        color: #fff;
    }
}

.btn-2 {
    border: 2px solid $color-1;
    padding: 15px 30px;
    transition: all .3s ease-in-out;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    color: $color-1;
}

.btn-3 {
    border: 2px solid #fff;
    padding: 15px 30px;
    transition: all .3s ease-in-out;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;

    &:hover {
        background: #fff;
        color: $color-1;
    }
}