//style datepicker
.ui-datepicker {
    width: 18em;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px;
    font-size: rem-calc(14);
    display: none;
    margin: 5px 0 0;
    z-index: 1111 !important;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    font-family: 'FontAwesome', sans-serif;
    cursor: pointer;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
    text-decoration: none;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    display: none;
}

.ui-datepicker-prev:before {
    content: "\f053";
}

.ui-datepicker-next:before {
    content: "\f054";
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-header {
    background: #f8f8f8;
    padding: 0 10px;
    line-height: 35px;
}

.ui-datepicker th {
    padding: 5px;
    text-align: center;
    font-size: rem-calc(12);
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker td a {
    border: 1px solid $black;
    padding: 5px;
    text-align: center;
    display: block;
}

.ui-datepicker td a:hover,
.ui-datepicker td a.ui-state-active {
    text-decoration: none;
    background: $black;
    color: #fff;
}

.ui-datepicker td {
    padding: 1px;
}