.validation_error,
.validation_message {
    display: none;
}

.gform_validation_container {
    display: none!important;
}

.gform_heading {
    margin: 0 0 20px;
}

.gfield_label {
    display: inline-block;
    padding: 0 0 5px;
}

.wp-editor {
    .gform_wrapper {
        padding: 0 0 30px;

        li {
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }

    .gfield_radio,
    .gfield_checkbox {
        padding: 0;
    }

    .gfield {
        margin: 0 0 20px;
    }
}

.gfield {
    margin: 0 0 20px;
}

.gfield_radio {
    input {
        display: none;
    }

    label {
        position: relative;
        padding-left: 30px;
        display: block;

        &:before {
            width: 16px;
            height: 16px;
            border: 1px solid $black;
            border-radius: 50%;
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
        }
    }

    input[type=radio]:checked + label {
        &:after {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            content: '';
            position: absolute;
            background: $black;
            left: 4px;
            top: 9px;
        }
    }
}

.gfield_checkbox {
    input {
        display: none;
    }

    label {
        position: relative;
        padding-left: 30px;
        display: block;

        &:before {
            width: 16px;
            height: 16px;
            border: 1px solid $color-1;
            border-radius: 2px;
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
        }
    }

    input[type=checkbox]:checked + label {
        &:after {
            content: "\f00c";
            font-family: 'FontAwesome';
            position: absolute;
            left: 3px;
            top: 8px;
            color: $black;
            font-size: 10px;
        }
    }
}

.gfield_error {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="number"],
    textarea,
    .gfield_radio label:before,
    .gfield_checkbox label:before {
        border: 1px #ff0000 solid;
    }
}

.gform_footer {
    .gform_button {
        margin: 0;
        background: $color-1;
        border-radius: 4px;

        &:hover {
            background: $color-2;
        }
    }
}