input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
textarea {
    border: 1px solid $black;
    padding: 8px 10px;
    width: 100%;
}

textarea {
    height: 200px;
}