.pagination {
    text-align: right;
    padding: 0 0 50px;

    .page-numbers {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #fff;
        text-align: center;
        line-height: 30px;
        margin: 0 5px;
        font-size: 15px;
        vertical-align: middle;
        transition: all .3s ease-in-out;
        border: 1px solid #f0f0f0;

        &.prev,
        &.next {
            font-size: 0;

            &:before {
                content: "";
                font-family: FontAwesome;
                font-size: 20px;
            }
        }

        &.next:before {
            content: "\f105";
        }

        &.prev:before {
            content: "\f104";
        }
    }

    a {
        &:hover {
            background: $color-1;
            color: #fff;
        }
    }

    .current {
        background: $color-1;
        color: #fff;
    }
}