.select2-container {
    position: relative;
    display: block;
    z-index: 11;
}

.select2-container--open {
    z-index: 1050;
}

#main,
#footer {
    .select2-container {
        z-index: 1;
    }
}

.select2-selection {
    display: block;
    background: $color-1;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    outline: none;

    &[aria-expanded="true"] {
        .select2-selection__arrow:after {
            content: "\f0d8";
        }
    }

    .select2-selection__rendered {
        padding: 11px 60px 11px 15px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .select2-selection__arrow {
        width: 46px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 0px;
        right: 0;
        height: 40px;
        background: $color-1;

        &:after {
            font-family: 'FontAwesome';
            content: "\f0d7";
            position: absolute;
            top: 10px;
            right: 15px;
        }

        b {
            display: none;
        }
    }
}

.select2-search,
.select2-hidden-accessible {
    display: none;
}

.select2-dropdown {
    display: block;
    border: 1px solid #ccc;
    border-top: none;
}

.select2-results {
    display: block;

    li {
        background: #fff;
        padding: 12px 15px 9px;
        cursor: pointer;

        &:hover {
            background: $color-1;
            color: #fff;
        }
    }
}

.select2-results__option[aria-selected=true] {
    background: $color-1;
    color: #fff;
}

.select2-results__options {
    overflow-y: auto;
    max-height: 200px;
}