// .content-page {
//     .wp-editor {
//         padding: 30px 30px 0;
//     }
// }

.position-left.is-transition-push {
    overflow: visible;
}

.gform_wrapper {
    .small-form {
        max-width: 60%;
    }
}
