.off-canvas.in-canvas-for-xlarge {
    position: fixed;
    left: 0;
    width: 270px;
    bottom: 0;
    top: 0;
    overflow: visible;
}

.header {
    &__logo {
        margin: 50px 0;
    }
}

#main-menu {
    text-align: center;

    span.icon {
        display: none;
    }

    .sub-menu {
        position: absolute;
        left: 200px;
        visibility: hidden;
        opacity: 0;
        top: 0;
        display: block;
        transition: all .4s ease;
        width: 230px;
        background: $color-1;
        padding: 5px 20px 5px 20px;

        .sub-menu {
            left: 150px;
            top: -5px;
        }

        li {
            &:hover {
                >.sub-menu {
                    left: 190px;
                }
            }
        }
    }

    li {
        &.menu-item-has-children {
            >a {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &:hover {
            >.sub-menu {
                opacity: 1;
                visibility: visible;
                left: 240px;
            }
        }

        &.menu-item-has-children {
            >a {
                &:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    position: absolute;
                    right: 0px;
                    top: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

.header {
    &__bottom {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
    }
}